@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

ul{
  list-style: none;
}

label {
  font-weight: 700;
}



#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//定制内容布局
.layout-content {
  margin: 24px;
}

.dark-theme {
  .el-card {
    background-color: #151D2C;
    border: 0;
  }
  
  .el-table {
    background-color: #0E1521;
  }
  
  .el-table--border,
  .el-table--group {
    border: 0;
  }
  
  .el-table--border td,
  .el-table--border th,
  .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border: 0;
  }
  
  .el-table th,
  .el-table tr,
  .el-table--enable-row-hover .el-table__body tr:hover>td,
  .el-table--enable-row-transition .el-table__body td,
  .el-table td.el-table__cell,
  .el-table th.el-table__cell.is-leaf {
    background-color: #0E1521;
    color: #C0C0C0;
  }
  
  .el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    background-color: #000;
  }
  
  .el-table th.is-leaf,
  .el-table td,
  .el-table th.is-leaf,
  .el-table td.el-table__cell,
  .el-table th.el-table__cell.is-leaf {
    border: 0;
  }
  
  .el-table__fixed-right::before,
  .el-table__fixed::before,
  .el-table::before,
  .el-table--border::after {
    width: 0;
  }
  
  .el-table__row--striped td {
    background-color: #000 !important;
  }
  
  .el-table__body tr.hover-row>td  {
    background-color: #0E1521 !important;
  }
  
  .el-table__body tr.current-row > td,
  .el-table__body tr.hover-row > td {
    background-color: #000 !important;
  }
  
  .el-form-item__label {
    color: #fff;
  }
  
  .el-input__inner,
  .el-select:hover .el-input__inner,
  .el-select .el-input__inner:focus,
  .el-select .el-input.is-focus .el-input__inner,
  .el-input__inner:hover, 
  .el-input__inner:focus,
  .el-autocomplete-suggestion,
  .el-input.is-disabled .el-input__inner,
  .el-cascader .el-input.is-focus .el-input__inner,
  .el-cascader:hover .el-input__inner,
  .el-cascader__dropdown,
  .el-table__header-wrapper tbody td,
  .el-textarea__inner,
  .el-textarea__inner:hover {
    background-color: #121D28;
    border-color: #1C303B;
    color: #fff;
  }

  .el-table__footer-wrapper tbody td {
    background-color: #0a1b2e;
    border-color: #161d25;
    color: #fff;
  }
  
  .el-textarea.is-disabled .el-textarea__inner {
    background-color: #121D28;
    border-color: #1C303B;
    color: #808080;
  }
  
  .el-select-dropdown__item {
    background-color: #1C2638;
    color:#ccc;
  }
  
  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover,
  .el-cascader-node:not(.is-disabled):focus,
  .el-cascader-node:not(.is-disabled):hover,
  .el-autocomplete-suggestion__wrap {
    background-color: #212F40;
  }
  
  .el-cascader-node__label,
  .el-icon-arrow-right:before,
  .el-icon-arrow-left:before {
    color: #fff;
  }
  
  .el-select-dropdown__list {
    background-color: #1C2638;
  }
  
  .el-select-dropdown,
  .el-cascader__dropdown {
    border: 1px solid #1C303B;
  }
  
  .el-popper[x-placement^=bottom] .popper__arrow::after,
  .el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #1C303B;
  }
  
  .el-pagination__total,
  .el-pagination__jump {
    color: #fff;
  }
  
  .el-pagination .btn-prev,
  .el-pagination.is-background .btn-prev:disabled,
  .el-pagination.is-background .btn-next:disabled,
  .el-pagination.is-background .el-pager li,
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-range-editor--small .el-range-input,
  .el-table thead.is-group th {
    background-color: #121D28;
  }
  
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #1C303B;
  }
  
  .el-dialog__body,
  .el-dialog__header,
  .el-dialog__footer,
  .el-loading-mask {
    background-color: #1C2638;
  }
  
  .el-dialog__title,
  .el-range-editor--small .el-range-separator {
    color: #fff;
  }
  
  .el-step__title.is-process,
  .el-step__title.is-wait {
    color: #fff;
    font-weight: 500;
  }
  
  .el-step__icon.is-text {
    color: #303133;
  }
  
  .el-date-picker__time-header,
  .el-date-picker__header,
  .el-picker-panel__body,
  .el-picker-panel__footer,
  .el-dropdown-menu {
    background-color: #0E1521;
  }
  
  .el-dropdown-menu {
    border: 0;
  }
  
  .el-dropdown-menu__item {
    color: #ccc;
  }
  
  .el-picker-panel {
    border: 0;
  }
  
  .el-date-table__row .available,
  .el-date-picker__header-label,
  .el-picker-panel__icon-btn,
  .el-date-table th {
    color: #fff;
  }
  
  .el-date-table td.next-month,
  .el-date-table td.prev-month {
    color: #808080;
  }
  
  .el-date-table td.disabled div {
    background-color: #0E1521;
    color: #304156;
  }

  .el-range-input,
  .el-range-separator {
    background-color: #121D28 !important;
    color: #fff;
  }

  .el-button--primary {
    background-color: #4ea1db;
  }

  .el-menu-item.is-active,
  .el-button--text {
    color: #4ea1db;
  }

  .el-radio__input.is-checked .el-radio__inner {
    border-color: #4ea1db;
    background: #4ea1db;
  }

  .el-tree,
  .el-tree-node__content:hover,
  .el-tree-node:focus>.el-tree-node__content,
  .el-autocomplete-suggestion li:hover {
    background: #1C2638;
    color: #fff;
  }

  .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: transparent;
  }

  .el-autocomplete-suggestion li,
  .el-year-table td .cell {
    color: #fff;
  }

  .el-picker-panel,
  .el-month-table td.in-range div {
    background: #0E1521;
  }

  .el-month-table td .cell,
  .el-date-range-picker__header div {
    color: #fff !important;
  }

  .el-date-picker__header--bordered {
    border: 0;
  }

  .el-button.is-disabled,
  .el-button.is-disabled:focus,
  .el-button.is-disabled:hover {
    background-color: #ccc !important;
  }

  .el-button--success {
    background-color: #018E60;
    border-color: #018E60;
  }

  .el-button--primary.is-plain {
    color: #fff;
  }

  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #4ea1db;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #4ea1db;
    border-color: #4ea1db;
  }

  .el-card__header {
    border-bottom: 1px solid #696969;
  }

  .el-year-table td.disabled .cell {
    background-color: inherit;
  }

  // 侧边栏深色样式
  .el-submenu__title {
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-submenu .el-menu-item {
    &:hover {
      background-color: $subMenuHover !important;
    }
  }
  .el-menu-item {
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .submenu-title-noDropdown {
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .is-active > .el-submenu__title {
    color: $subMenuActiveText !important;
  }
}
// 侧边栏浅色样式
.el-submenu__title,
.el-menu-item {
  &:hover {
    background-color: #ECF5FF !important;
  }
}

.el-picker-panel__footer {
  .el-button--text {
    display: none !important;
  }
}
//定制搜索栏和弹窗的样式
.table-page-search-wrapper, .base-dialog {

  .el-select {
    width: 100%;
  }

  .el-date-editor {
    width: 100%;
  }

  .el-input-number {
    width: 100%;
  }

  .table-page-search-submitButtons {
    margin-bottom: 20px;
  }

  .el-dialog__body {
    padding: 30px 40px;
  }
}

// 隐藏高德地图logo
.amap-logo, .amap-copyright {
  display: none !important;
}

// 报警详情弹框
.min-width-dialog {
  width: 50%;
  min-width: 830px;
}

//弹窗宽度
.dialog-col-1 {
  max-width: 600px;
}

.dialog-col-2 {
  width: 800px;
}

.dialog-col-3 {
  width: 1100px;
}

.dialog-col-4 {
  width: 1400px;
}


/*
  flex布局通用类名
*/

.f-1{
  flex: 1;
}
.f-c{
  display: flex;
  justify-content: center;
}
.f-fe{
  display: flex;
  justify-content: flex-end;
}
.f-sb{
  display: flex;
  justify-content: space-between;
}
.f-sa{
  display: flex;
  justify-content: space-around;
}
.f-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-sb-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-sa-c{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

//纵向布局
.f-col{
  display: flex;
  flex-direction: column;
}
.f-col-sb-c{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*
  flex布局定制类名
*/
.f{
  display: flex;
}
.f-i{
  display: inline-flex;
}
//换行
.fw-w{
  flex-wrap: wrap;
}
//排列方向
.fd-c{
  flex-direction: column;
}

//主轴上的对齐方式
.jc-c{
  justify-content: center;
}
.jc-sb{
  justify-content: space-between;
}
.jc-sa{
  justify-content: space-around;
}
.jc-fe{
  justify-content: flex-end;
}

//在交叉轴上如何对齐
.ai-c{
  align-items: center;
}
.ai-fe{
  align-items: flex-end;
}


//超出省略
.ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.f-r{
  float: right;
}
